{% include 'recipes/partials/head.html'%}

<body>
    <!-- Header -->
    {% include 'recipes/partials/header.html' %}

    <!-- Search input -->
    {% include 'recipes/partials/search.html' %}

    <!-- Recipes Cards -->
    <main class="main-content-conatiner">
        <div class="main-content main-content-list container">
            {% include 'recipes/partials/recipe_cards.html' %}
            {% include 'recipes/partials/recipe_cards.html' %}
            {% include 'recipes/partials/recipe_cards.html' %}
        </div>
    </main>

    <!-- Footer da Página -->
    {% include "recipes/partials/footer.html" %}
</body>

</html>