{% include 'recipes/partials/head.html'%}

<body>
    <!-- Header -->
    {% include 'recipes/partials/header.html' %}

    <!-- Search input -->
    {% include 'recipes/partials/search.html' %}

    <!-- Recipes Cards -->
    <main class="main-content-conatiner">
        <div class="main-content main-content-list container">
            {% include 'recipes/partials/recipe_cards.html' %}
            {% include 'recipes/partials/recipe_cards.html' %}
            {% include 'recipes/partials/recipe_cards.html' %}
        </div>
    </main>

    <footer class="main-content-footer container">
        <div class="main-content-footer-inner">
            <span>
                By Ndandu Technology (Gelson Agiostinho)
            </span>
            <span>
                Powered by Django
            </span>
        </div>
    </footer>
</body>

</html>